.heading{
background-color: #9fa8da;
text-align: center;
font-style: italic;
padding-top: 35px;
font-size: 30px;

}

.form{
  background-color: silver;
  background-size: cover;
  float: left;

}

.notes{
  background-color: #ef9a9a;
  font-size: 30px;
  flex-direction: column-reverse;

}

.center{
  font-size: 100px

}
